<div class="bg-white shadow-md rounded-lg p-6 text-center">
  <h2 class="text-xl text-gray-700 mb-4">Entre para registrar pedidos</h2>
  <%= link_to 'Criar Cadastro', new_user_session_path, 
              class: "bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-500" %>

  <p>É um Cliente?</p>
  <%= link_to 'Ver Detalhes do Meu Pedido', orders_status_path, 
              class: "bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-500" %>
</div>