<h1>Adicionar Porções ao Pedido: <%= @order.code %></h1>

<% if @restaurant.menus.empty? %>
  <h2>Para adicionar itens para um pedido, antes adicione cardápios</h2>
<% else %>
  <%= render 'form' %>
<% end %> 

